


.faq input {
    display: none;
}

.respuesta {
    display: none;
}

.faq input:checked+label+.respuesta {
    display: block;
}

.faq label {
    cursor: pointer;
    font-weight: bold;
    color: rgb(211, 238, 234);
}

.form label {
    color: white;
    font-weight: normal;

}

.faq label:hover {
    color: rgb(80, 132, 122);
}

.form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form input {
    width: 100%;
    max-width: 230px;

}



html {
    font-size:large;
}


.nav-link:hover{
    transform:scale(1.05);
}

.navbar-toggler{
    border:none;
    font-size:30px;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: azure;
}


svg {
    color:
        rgba(5, 44, 39, 0.773);
}

a {
    text-decoration: none;
}

/*.card:hover {
  transform: scale(1.05); /* efecto al pasar el mouse */

@media (max-width: 768px){
    .tarjeta{
        width: 90%;
        margin: 20px auto;
    }

    .mapa{
        height: 300px;
    }
    
    .libros{
        gap:20px;
    }
}

@media (max-width: 480px){
    .tarjeta{
        width: 80%;
        margin: auto;
    }

    .tarjeta img{
        width:100%;
        height:auto;
    }

    button{
        padding:10px 25px;
    }
}



nav {
    a {
       
        color: rgb(216, 248, 244);
        text-decoration: none;
        font-size: 20px;

       
    }
}

a:hover {
    transform: scale(1.05);
}


.form input,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"]{
    background-color:#a0b7b0;
    color: rgb(1, 44, 35);
    padding: 10px;
    border: 1px solid rgb(2, 50, 40);
    border-radius: 10px;
    font-size: 16px;
 }

 button,
input[type="submit"],
input[type="reset"]{
    background-color: rgb(1, 44, 35);
    color: white;
    padding: 10px 10px;
    border: 1px solid rgb(2, 50, 40);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}


.form input{
    background-color:#a0b7b0;
    color: rgb(1, 44, 35);
    padding: 10px;
    border: 1px solid rgb(2, 50, 40);
    border-radius: 10px;
    font-size: 16px;
}

.form select {
    width: 100%;
    max-width: 230px;
    padding: 11px 40px;
    background-color: #a0b7b0;
    color: rgb(1, 44, 35);
    border: 1px solid rgb(2, 50, 40);
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.form textarea {
    width: 100%;
    max-width: 230px;
    padding: 10px;
    background-color:  #a0b7b0;
    color: rgb(1, 44, 35);
    border: 1px solid rgbrgb(2, 50, 40);
    border-radius: 10px;
    resize: none;
    margin: 0 auto;
    font-size: 16px;
    font-family: inherit;
}

input::placeholder {
    color: rgb(121, 145, 144);
}

svg {
    color:
        rgba(5, 44, 39, 0.773);
}

a {
    text-decoration: none;
}

