* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    color:rgb(189, 216, 216);
}


img{
    display:inline;
}


.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    height: auto;
    display: block;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

#btnSubir {
    display: none; /* oculto al principio */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #012c23;
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}

#btnSubir:hover {
    background-color: #014d3d;
}