h1{
    display:none;
}

.columnas{
    display:flex;
    justify-content:space-between;
}

.tarjeta{
    flex:1;
}

.MAPA{
    max-width:1000px;
    margin:auto;
}

#carouselDiseño{
    width: 50%;
    margin: auto;
}

#carouselDiseño img{
    width: 50%;
    height: auto;
}

section{
    max-width:1000px;
    margin:0 auto;
}

@media (max-width: 768px){
    .tarjeta{
       width: 90%;
    margin: 20px auto;
    }

    .libros{
        gap:15px;
    }

    #carouselDiseño{
        width: 160px;
    }

    #carouselDiseño img{
        width: 100%;
    max-width: 220px;
    height: auto;
    margin-bottom: 10px;
    }
}

@media (max-width: 480px){
    .tarjeta{
        width: 80%;
        margin: auto;
    }

    .tarjeta img{
        width:100%;
        height:auto;
    }

    button{
        padding:10px 25px;
    }
}

